Here if u need google go here https://chromeenterprise.google/download/?modal-id=download-chrome#management-download

This will lt u download chrome on ur linux or chromebook are windows are mac anything go to the manage and the first one click it and 
download that file if it works your good to go 


Copy this to ur inspect if you got a old pc or laptop anything into ur console on your chrome inspect

copy this!


